<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>
    <div class="container is-max-widescreen">
        <div class="notification is-primary">
            <h1 class="title">Notes</h1>
        </div>
        <div class="control">
            <a href="/new/note"><button class="button is-primary">New Note</button></a>
    </div>
    <% for(let n of notes) {%>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h3><% n.title %></h3>
          <p class="card-text">
              <% n.body %>
          </p>
          <% } %>
        </div>
      </div>

    
</body>
</html>