<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app_fer.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">

    <title>Error</title>
</head>
<body>
    <article>
        <div class="logo">
            <img id="google_img" alt="express" src="https://i1.wp.com/www.dafontfree.io/wp-content/uploads/2021/04/Google-new-logo.png?resize=1500%2C1025&ssl=1">
            <a href="./"><button id="but">GoBack</button></a>
        </div>

        <h1 id="error"><%= error %></h1>
    </article>
    
</body>
</html>